{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "require-jsdoc": [2, {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": false
            }
        }],
        "valid-jsdoc": [2, {
            "prefer": {
                "arg": "param",
                "argument": "param",
                "class": "constructor",
                "return": "returns",
                "virtual": "abstract"
            },
            "requireReturn": false,
            "requireReturnType": true,
            "requireParamDescription": true,
            "requireReturnDescription": true
        }]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jasmine": true
    },
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"]
}
